button {
    height: 26px;
    width: 30px;
    margin-left: 5px;
    outline: none;
    border: none;
    float: right;
    background-color: lightskyblue;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

.popup {
  height: 500px;
  width: 300px;
}

.container {
  position: auto;
  margin-bottom: 40px;
}

.input {
  height: 20px;
  width: 250px;
  float: left;
}